<form class="layui-form" action="">
    <ul class="FieldsOfSearch" id="fieldsOfSearch">
        <li>
            <div class="layui-form-item">
                <label class="layui-form-label">类型：</label>
                <div class="layui-input-inline">
                    <select name="type" convert="sms_template_type" operator="EQUALS" class="layui-input">
                        <option value="">全部</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">审核状态：</label>
                <div class="layui-input-inline">
                    <select name="examineStatus" convert="sms_examine_status" operator="EQUALS" class="layui-input">
                        <option value="">全部</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">模板名称 ：</label>
                <div class="layui-input-inline">
                    <input name=templateName placeholder="模板名称" autocomplete="off" operator="LIKE" class="layui-input"
                        type="text" />
                </div>
            </div>
            <div class="layui-form-item gridButton">
                <div class="layui-input-block">
                    <button type="button" class="layui-btn" data-method="reload"><i class="fa fa-search"></i>搜索
                    </button>
                    <button type="reset" class="layui-btn layui-btn-primary"><i class="fa fa-refresh"></i>重置
                    </button>
                </div>
            </div>
        </li>
    </ul>
</form>
<div class="layui-btn-group functionalZone gridButton">
    <button class="layui-btn" data-method="add"><i class="fa fa-plus"></i>新增</button>
    <button class="layui-btn" data-method="edit"><i class="fa fa-pencil"></i>编辑</button>
    <button class="layui-btn" data-method="del"><i class="fa fa-trash"></i>删除</button>
    <button class="layui-btn" data-method="exportXls"><i class="fa fa-cloud-download"></i>导出Excel</button>
</div>
<!--数据表格-->
<table id="grid_table" class="layui-table" lay-filter="grid_table">
</table>
<script>
    /* <![CDATA[ */
    //表格渲染
    layui.use(['layer', 'table', 'laydate'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var table = layui.table;
        var laydate = layui.laydate;

        var cols = [[
            { type: 'checkbox', fixed: 'left' },
            { width: '4%', title: '序号', type: 'numbers' },
            { field: 'templateid', title: '模板编号', width: "5%" },
            { field: 'type', title: '短信类型', width: '10%', convert: 'sms_template_type' },
            { field: 'templateType', title: '模板类型', width: '10%', convert: 'template_type' },
            { field: 'templateName', title: '模板名称', width: '10%' },
            { field: 'templateShortName', title: '模板代号', width: '10%' },
            { field: 'autograph', title: '短信签名', width: '13%' },
            { field: 'examineStatus', title: '审核状态', width: '13%', convert: 'sms_examine_status' },
            { field: 'content', title: '短信内容', width: '30%' },
            { field: 'sysModule', title: '系统模块', width: '10%' },
            { field: 'sendRoles', title: '发送对象', width: '13%' },
            { field: 'sendCondition', title: '发送条件', width: '15%' },
            { field: 'npreason', title: '驳回原因', width: '13%' }
        ]];
        var tableElement = table.render({
            elem: '#grid_table',
            method: 'post',
            url: "/dubbo/sys/sysSmsTemplateManager/getPagerSysSmsTemplates.json",
            cellMinWidth: 80,
            height: 'full-140',
            cols: cols,
            page: true,
            limits: [15, 30, 90, 150],
            limit: 15,
            done: function (res, page, count, convertArray) {
            }
        });

        //新增
        var active = {
            reload: function () {
                //执行重载
                var params = tableElement.reloadBuild($('#fieldsOfSearch'));
                table.reload('grid_table', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    where: params
                });
            },
            add: function () {
                layer.open({
                    type: 2,
                    title: '新增短信模板',
                    area: ['830px', '460px'],
                    shade: 0.1,
                    maxmin: true,
                    content: '/page/sys.sysSmsTemplate/sysSmsTemplateAdd.html',
                    btn: ['保存', '关闭'], //按钮
                    yes: function (index, layero) {
                        var body = layer.getChildFrame('body', index);
                        body.find('button.lay-submit').click();
                    },
                    btn2: function (index, layero) {
                        layer.close();
                    },
                    success: function (layero, index) {
                        var body = layer.getChildFrame('body', index);
                        body.find('form').find("#readOnlyContainer").show();
                        body.find('#callBack').click(function () {
                            layer.msg('新增成功');
                            tableElement.reload();
                        });
                    }
                });
            },
            //编辑
            edit: function () {
                var checkedRows = table.checkStatus('grid_table').data || [];
                if (checkedRows.length <= 0) {
                    layer.msg("请勾选要编辑数据的复选框！");
                    return;
                } else if (checkedRows.length > 1) {
                    layer.msg("每次只能编辑一条数据！");
                    return;
                }
                var rowData = checkedRows[0];
                layer.open({
                    type: 2,
                    title: '编辑-短信',
                    area: ['830px', '460px'],
                    shade: 0.1,
                    maxmin: true,
                    content: '/page/sys.sysSmsTemplate/sysSmsTemplateAdd.html',
                    btn: ['保存', '关闭'],
                    yes: function (index, layero) {
                        var body = layer.getChildFrame('body', index);
                        body.find('button.lay-submit').click();
                    },
                    btn2: function () {
                        layer.close();
                    },
                    success: function (layero, index) {
                        var body = layer.getChildFrame('body', index);
                        var form = body.find('form');
                        util.fillFormData(form, rowData, null);
                        body.find('#callBack').click(function () {
                            layer.msg('编辑成功');
                            tableElement.reload();
                        });
                    }
                });
            },
            //删除
            del: function () {
                var checkedRows = table.checkStatus('grid_table').data || [];
                if (checkedRows.length <= 0) {
                    layer.msg("请勾选要删除的数据！");
                    return;
                }
                if (checkedRows.length > 1) {
                    layer.msg("一次只能删除一条模板");
                    return;
                }
                var params = [];
                for (var i = 0; i < checkedRows.length; i++) {
                    params.push('id=' + checkedRows[i].id);
                }
                layer.confirm('是否删除所选数据？', { icon: 3, title: '提示' }, function () {
                    layer.ajax({
                        url: "/dubbo/sys/sysSmsTemplateManager/removeSysSmsTemplate.json",
                        data: params.join('&'),
                        success: function (result) {
                            layer.msg('删除数据成功', { icon: 1 });
                            tableElement.reload();
                        }
                    });
                });
            },
            exportXls: function () {
                tableElement.exportRecords({
                    title: '短信模板'
                });
            }
        };
        $('.gridButton .layui-btn').on('click', function () {
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });

    });
    /* ]]> */
</script>