<table class="layui-table" id="grid_table" lay-filter="tableData"></table>
<script>
	var getSelectedTableRows = null;
	function selectedSmsTemplateIds() {
		return getSelectedTableRows();
	}
	//表格渲染
	layui.use(['layer', 'table', 'jquery'], function () {
		var $ = layui.jquery;
		var layer = layui.layer;
		var table = layui.table;
		var cols = [[
			{ type: 'checkbox', fixed: 'left' },
			{ field: 'templateName', title: '模板名称', width: '18%' },
			{ field: 'content', title: '模板内容' }
		]];
		var tableElement = table.render({
			elem: '#grid_table',
			method: 'post',
			url: "/dubbo/sys/sysSmsTemplateManager/findPageusableTemplate.json",
			cellMinWidth: 80,
			height: 'full-140',
			cols: cols,
			page: true,
			limits: [15, 30, 90, 150],
			limit: 15,
			done: function (res, page, count, convertArray) {
			}
		});
		//获取选中的短信模板
		getSelectedTableRows = function getSelectedTableRows() {
			var checkedRows = table.checkStatus('grid_table').data || [];
			return checkedRows;
		}
	});
</script>