<div class="main-content">
    <form class="layui-form" action="">
        <div class="layui-row" id="fieldsOfSearch">
            <div class="layui-col-md3 layui-col-sm3 layui-col-xs3">
                <label class="layui-form-label">用户账号：</label>
                <div class="layui-input-inline">
                    <input name="username" placeholder="用户账号" autocomplete="off" operator="LIKE" class="layui-input"
                        type="text" />
                </div>
            </div>
            <div class="layui-col-md3 layui-col-sm3 layui-col-xs3">
                <label class="layui-form-label">用户名称：</label>
                <div class="layui-input-inline">
                    <input name="name" placeholder="用户名称" autocomplete="off" operator="LIKE" class="layui-input"
                        type="text" />
                </div>
            </div>
            <div class="layui-col-md3 layui-col-sm3 layui-col-xs3">
                <label class="layui-form-label">手机号：</label>
                <div class="layui-input-inline">
                    <input name="tel" placeholder="手机号" autocomplete="off" operator="LIKE" class="layui-input"
                        type="number" />
                </div>
            </div>
            <div class="layui-col-md3 layui-col-sm3 layui-col-xs3 layui_gridButton">
                <button type="button" class="layui-btn" data-method="reload"><i class="fa fa-search"></i>搜索
                </button>
                <button type="reset" class="layui-btn layui-btn-primary"><i class="fa fa-refresh"></i>重置
                </button>
            </div>
        </div>
    </form>

   

    <!--数据表格-->
    <table id="grid_table" class="layui-table" lay-filter="grid_table">
    </table>
</div>
<script type="text/html" id="tableBar">
    <div class="layui-btn-group layui_gridButton">
        <button class="layui-btn" data-method="add"><i class="fa fa-plus"></i>注册</button>
        <button class="layui-btn" data-method="auth"><i class="fa fa-check-circle"></i>授权</button>
        <button class="layui-btn" data-method="edit"><i class="fa fa-pencil"></i>编辑</button>
        <button class="layui-btn" data-method="resetPassword"><i class="fa fa-history"></i>重置密码</button>
        <button class="layui-btn" data-method="exportXls"><i class="fa fa-cloud-download"></i>导出Excel</button>
    </div>
</script>
<script>
    /* <![CDATA[ */
    //表格渲染
    layui.use(['layer', 'table', 'laydate'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var table = layui.table;
        var laydate = layui.laydate;
        var cols = [[
            { type: 'checkbox', fixed: 'left' },
            { field: 'companyName', title: '平台名称', width: '10%' },
            { field: 'userType', convert: 'user_type', title: '用户类型', width: '10%' },
            { field: 'username', title: '用户账号', width: '10%' },
            { field: 'name', title: '用户名称', width: '10%' },
            { field: 'roleNames', title: '用户角色', width: '25%' },
            { field: 'status', title: '用户状态', convert: 'userStatus', width: '10%' },
            { field: 'sex', convert: 'sex_type', title: '性别', width: '10%' },
            { field: 'tel', title: '手机号', width: '10%' }
        ]];
        var tableElement = table.render({
            elem: '#grid_table',
            //method: 'post',
           // url: "/sys/getPagerSysUsers.json",
            method:'get',
            url:"http://localhost:37383/DMMS/SysTerm/GetAllUser",
            cellMinWidth: 80,
            toolbar: "#tableBar",
            defaultToolbar: ['filter', 'print', 'exports'],
            height: 'full-120',
            cols: cols,
            page: true,
            limits: [15, 30, 90, 150],
            limit: 15,
            parseData:function(res){
                return{
                    "code":0,
                    "msg":res.Message,
                     "count":res.Data.length,
                     "data":res.Data

                };

            },
            done: function (res, page, count) {
           
            }
        });

        //新增
        var active = {
            reload: function () {
                //执行重载
                var params = tableElement.reloadBuild($('#fieldsOfSearch'));
                table.reload('grid_table', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    where: params
                });
            },
            add: function () {
                layer.open({
                    type: 2,
                    title: '注册-用户',
                    area: ['950px', '460px'],
                    shade: 0.1,
                    maxmin: true,
                    /*   content: '/page/sys.sysUser/sysUserAdd.html', */
                    content: 'sysUserAdd.html',
                    btn: ['保存', '关闭'], //按钮
                    yes: function (index, layero) {
                        var body = layer.getChildFrame('body', index);
                        body.find('button.lay-submit').click();
                    },
                    btn2: function (index, layero) {
                        layer.close();
                    },
                    success: function (layero, index) {
                        var body = layer.getChildFrame('body', index);
                        body.find('#callBack').click(function () {
                            layer.msg('注册-成功');
                            tableElement.reload();
                        });
                    }
                });
            },
            //授权
            auth: function () {
                var checkedRows = table.checkStatus('grid_table').data || [];
                if (checkedRows.length <= 0) {
                    layer.msg("请勾选要编辑数据的复选框！");
                    return;
                } else if (checkedRows.length > 1) {
                    layer.msg("每次只能编辑一条数据！");
                    return;
                }
                var rowData = checkedRows[0];
                layer.open({
                    type: 2,
                    title: '授权-用户',
                    area: ['830px', '460px'],
                    shade: 0.1,
                    maxmin: true,
                    content: '/page/sys.sysUser/sysUserAuth.html',
                    btn: ['保存', '关闭'],
                    yes: function (index, layero) {
                        var body = layer.getChildFrame('body', index);
                        body.find('button.lay-submit').click();
                    },
                    btn2: function () {
                        layer.close();
                    },
                    success: function (layero, index) {
                        var iframeWin = window[layero.find('iframe')[0]['name']];
                        var body = layer.getChildFrame('body', index);
                        iframeWin.initPage(rowData);
                        body.find('#callBack').click(function () {
                            layer.msg('授权成功');
                            tableElement.reload();
                        });
                    }
                });
            },
            //编辑
            edit: function () {
                var checkedRows = table.checkStatus('grid_table').data || [];
                if (checkedRows.length != 1) {
                    layer.msg("请勾选一条要编辑数据的复选框！");
                    return;
                }
                var rowData = checkedRows[0];
                layer.open({
                    type: 2,
                    title: '编辑-权限',
                    area: ['950px', '460px'],
                    shade: 0.1,
                    maxmin: true,
                    content: '/page/sys.sysUser/sysUserEdit.html',
                    btn: ['保存', '关闭'],
                    yes: function (index, layero) {
                        var body = layer.getChildFrame('body', index);
                        body.find('button.lay-submit').click();
                    },
                    btn2: function () {
                        layer.close();
                    },
                    success: function (layero, index) {
                        var body = layer.getChildFrame('body', index);
                        var form = body.find('#addForm');
                        util.fillFormData(form, rowData, null);
                        body.find('#callBack').click(function () {
                            layer.msg('修改成功');
                            tableElement.reload();
                        });
                    }
                });
            },
            resetPassword: function () {
                var checkedRows = table.checkStatus('grid_table').data || [];
                if (checkedRows.length != 1) {
                    layer.msg("请勾选一条要编辑数据的复选框！");
                    return;
                }
                var rowData = checkedRows[0];
                layer.ajax({
                    url: "/dubbo/sys/sysUserManager/restPassword.json",
                    data: { id: rowData.id },
                    success: function (result) {

                    }
                });
            },
            exportXls: function () {
                tableElement.exportRecords({
                    page: 1,
                    maxSize: 20000,
                    //type:'xls',
                    //cols:[],
                    params: tableElement.reloadBuild($('#fieldsOfSearch')),
                    title: '系统用户-数据'
                });
            }
        };
        $('.layui_gridButton .layui-btn').on('click', function () {
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });

    });
/* ]]> */
</script>