<!-- 权限管理编辑 -->
<div class="main-content">
	<input type="hidden" id="callBack" />
	<div class="add">
		<form id="addForm" class="layui-form layui-form-pane" action="">
			<div class="layui-hide">
				<input name="id" class="layui-input" type="text" />
			</div>
			<div class="layui-row">
				<div class="layui-col-md4 layui-col-sm3 form-item">
					<label class="layui-form-label">用户账号</label>
					<div class="layui-input-inline">
						<input name="username" disabled="disabled" class="layui-input" type="text" />
					</div>
				</div>
				<div class="layui-col-md4 layui-col-sm3 form-item">
					<label class="layui-form-label">用户名称</label>
					<div class="layui-input-inline">
						<input name="name" disabled="disabled" class="layui-input" type="text" />
					</div>
				</div>
				<div class="layui-col-md12 layui-form-item">
					<label class="layui-form-label">用户角色</label>
					<div class="layui-input-block" id="roles">
					</div>
				</div>
				<div style="display: none;">
					<button class="lay-submit" lay-submit="" lay-filter="save"></button>
				</div>
			</div>
		</form>
	</div>
</div>
<script>
	/* <![CDATA[ */
	function initPage(data) {
		layui.use(['form', 'layer'], function () {
			var layer = layui.layer, form = layui.form, $ = layui.jquery;
			var userRoles = data.roles, roleIds = [];
			for (var i in userRoles) {
				if (userRoles[i].roleId) {
					roleIds.push(userRoles[i].roleId);
				}
			}
			layer.ajax({
				url: "/dubbo/sys/sysRoleManager/getSysRoles.json",
				notShowLoading: true,
				async: false,
				success: function (result) {
					if (result.data) {
						var html = [];
						var roles = result.data;
						for (var i in roles) {
							if (roles[i].roleId) {
								var checked = ($.inArray(roles[i].roleId, roleIds) != -1) ? ' checked="checked" ' : '';
								html.push('<input type="checkbox" name="roles[' + i + '].roleId" value="' + roles[i].roleId + '" ' + checked + ' title="' + roles[i].roleName + '"/>');
							}
						}
						$('#roles').html(html.join(''));
						util.fillFormData($('#addForm'), data, null);
					}
				}
			});

			//
			form.on("submit(save)", function (data) {
				var index = layer.msg('提交中，请稍候', {
					icon: 16,
					time: false,
					shade: 0.8
				});
				layer.ajax({
					url: "/dubbo/sys/sysUserManager/authSysUser.json",
					data: data.field,
					success: function (result) {
						layer.close(index);
						$('#callBack').click();
						var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
						parent.layer.close(index); //再执行关闭 
					}
				});
				return false;
			});
		});
	}
/* ]]> */
</script>