<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>文件管理系统</title>
<link rel="shortcut icon" href="../static/system/image/favicon.ico" />
<link rel="stylesheet" href="../static/system/style/user.css">
</head>
<body style="text-align: center;">
	<div class="text-center">
		<div style="font-size: 100px; margin-top: 200px">
			<i class="fa fa-warning"></i> 404
		</div>
		<div style="margin-top: 50px">
			<h3>您访问的页面不存在</h3>
		</div>
	</div>
</body>
</html>

