<!-- 数据字典 -->
<style>
	.layui-form-label {
		width: 75px;
	}
</style>
<div class="layui-col-md6">
	<form class="layui-form list_form" action="">
		<div class="layui-row" id="fieldsOfSearch">
			<div class="layui-col-md3 layui-col-sm3 layui-col-xs3">
				<label class="layui-form-label">字典编码：</label>
				<div class="layui-input-inline">
					<input name="caption" placeholder="数据字典描述" autocomplete="off" operator="LIKE" class="layui-input"
						type="text" />
				</div>
			</div>
			<div class="layui-col-md3 layui-col-sm3 layui-col-xs3">
				<label class="layui-form-label">字典描述：</label>
				<div class="layui-input-inline">
					<input name="caption" placeholder="数据字典描述" autocomplete="off" operator="LIKE" class="layui-input"
						type="text" />
				</div>
			</div>
			<div class="layui-col-md3 layui-col-sm3 layui-col-xs3 layui_gridButton">
				<button type="button" class="layui-btn margin_left_10" data-method="reload"><i
						class="fa fa-search"></i>搜索
				</button>
				<button type="reset" class="layui-btn layui-btn-primary"><i class="fa fa-refresh"></i>重置
				</button>
			</div>
		</div>
	</form>
	<!--数据表格-->
	<table id="grid_table" class="layui-table" lay-filter="grid_table">
	</table>
</div>
<div class="layui-col-md6">
	<form class="layui-form list_form" action="">
		<div class="layui-row" id="fieldsOfSearch_codeitem">
			<div class="layui-hide">
				<input id="codemap_codemapId" name="codemapId" class="layui-input" type="text" />
			</div>
			<div class="layui-col-md3 layui-col-sm3 layui-col-xs3">
				<label class="layui-form-label">字典编码：</label>
				<div class="layui-input-inline">
					<input id="codemap_code" value="-" name="code" disabled autocomplete="off" operator="LIKE"
						class="layui-input" type="text" />
				</div>
			</div>
			<div class="layui-col-md3 layui-col-sm3 layui-col-xs3 layui_gridButton">
				<button type="button" class="layui-btn margin_left_10" data-method="reload"><i
						class="fa fa-search"></i>搜索
				</button>
				<button type="reset" class="layui-btn layui-btn-primary"><i class="fa fa-refresh"></i>重置
				</button>
			</div>
		</div>
	</form>
	<!--数据表格-->
	<table id="grid_codeitem" class="layui-table" lay-filter="grid_codeitem">
	</table>
</div>
<script type="text/html" id="tableBarLeft">
    <div class="layui-btn-group layui_gridButton">
		<button class="layui-btn" data-method="add"><i class="fa fa-plus"></i>新增</button>
		<button class="layui-btn" data-method="edit"><i class="fa fa-pencil"></i>编辑</button>
		<button class="layui-btn" data-method="syncCache"><i class="fa fa-pencil"></i>同步缓存</button>
		<button class="layui-btn" data-method="del"><i class="fa fa-trash"></i>删除</button>
	</div>
</script>
<script type="text/html" id="tableBarRight">
    <div class="layui-btn-group layui_gridButton">
		<button class="layui-btn" data-method="addCodeItem"><i class="fa fa-plus"></i>新增</button>
		<button class="layui-btn" data-method="delCodeItem"><i class="fa fa-trash"></i>删除</button>
	</div>
</script>
<script>
	/* <![CDATA[ */
	//表格渲染
	layui.use(['layer', 'table', 'laydate'], function () {
		var $ = layui.jquery;
		var layer = layui.layer;
		var table = layui.table;
		var laydate = layui.laydate;

		var cols = [[
			{ type: 'checkbox', fixed: 'left' },
			{ field: 'code', sort: true, title: '编码', width: '20%' },
			{ field: 'caption', title: '描述', width: '25%' },
			{ field: 'type', convert: 'codemapType', title: '类型', width: '15%' },
			{ field: 'expression', title: '表达式', width: '30%' }
		]];
		var tableElement = table.render({
			elem: '#grid_table',
			method: 'post',
			url: "/dubbo/sys/codemapManager/getPagerCodemaps.json",
			cellMinWidth: 80,
            toolbar: "#tableBarLeft",
            defaultToolbar: ['filter', 'print', 'exports'],
			height: 'full-150',
			cols: cols,
			page: true,
			limits: [15, 30, 90, 150],
			limit: 15,
			done: function (res, page, count, convertArray) {
			}
		});

		var itemcols = [[
			{ type: 'checkbox', fixed: 'left' },
			{ field: 'itemValue', title: '代码值', width: '30%' },
			{ field: 'itemCaption', title: '代码描述', width: '35%' },
			{ field: 'index', title: '顺序', width: '20%' }
		]];
		var itemtableElement = table.render({
			elem: '#grid_codeitem',
			method: 'post',
			load: false,
			url: "/dubbo/sys/codemapManager/getPagerCodeitemsByCodeMap.json",
			cellMinWidth: 80,
            toolbar: "#tableBarRight",
            defaultToolbar: ['filter', 'print', 'exports'],
			height: 'full-150',
			cols: itemcols,
			page: true,
			limits: [30, 90, 150],
			limit: 30,
			done: function (res, page, count, convertArray) {
			}
		});

		//新增
		var active = {
			reload: function () {
				//执行重载
				var params = tableElement.reloadBuild($('#fieldsOfSearch'));
				table.reload('grid_table', {
					page: {
						curr: 1 //重新从第 1 页开始
					},
					where: params
				});
			},
			add: function () {
				layer.open({
					type: 2,
					title: '新增代码集',
					area: ['830px', '460px'],
					shade: 0.1,
					maxmin: true,
					content: '/page/sys.codemap/codemapAdd.html',
					btn: ['保存', '关闭'], //按钮
					yes: function (index, layero) {
						var body = layer.getChildFrame('body', index);
						body.find('button.lay-submit').click();
					},
					btn2: function (index, layero) {
						layer.close();
					},
					success: function (layero, index) {
						var body = layer.getChildFrame('body', index);
						body.find('#callBack').click(function () {
							layer.msg('新增成功');
							tableElement.reload();
						});
					}
				});
			},
			//编辑
			edit: function () {
				var checkedRows = table.checkStatus('grid_table').data || [];
				if (checkedRows.length <= 0) {
					layer.msg("请勾选要编辑数据的复选框！");
					return;
				} else if (checkedRows.length > 1) {
					layer.msg("每次只能编辑一条数据！");
					return;
				}
				var rowData = checkedRows[0];
				layer.open({
					type: 2,
					title: '编辑-城市',
					area: ['830px', '460px'],
					shade: 0.1,
					maxmin: true,
					content: '/page/sys.codemap/codemapAdd.html',
					btn: ['保存', '关闭'],
					yes: function (index, layero) {
						var body = layer.getChildFrame('body', index);
						body.find('button.lay-submit').click();
					},
					btn2: function () {
						layer.close();
					},
					success: function (layero, index) {
						//var iframeWin = window[layero.find('iframe')[0]['name']];
						//iframeWin.initAddPage();
						var body = layer.getChildFrame('body', index);
						var form = body.find('form');
						util.fillFormData(form, rowData, null);
						body.find('#callBack').click(function () {
							layer.msg('新增成功');
							tableElement.reload();
						});
					}
				});
			},
			syncCache: function () {
				var checkedRows = table.checkStatus('grid_table').data || [];
				if (checkedRows.length != 1) {
					layer.msg("请勾选一条要同步的数据！");
					return;
				}
				var rowData = checkedRows[0];
				layer.ajax({
					url: "/dubbo/sys/convertManager/refreshCached.json",
					data: { name: rowData.code },
					success: function (result) {
						layer.msg('同步完成', { icon: 1 });
					}
				});
			},
			//删除
			del: function () {
				var checkedRows = table.checkStatus('grid_table').data || [];
				if (checkedRows.length <= 0) {
					layer.msg("请勾选要编辑数据的复选框！");
					return;
				} else if (checkedRows.length > 1) {
					layer.msg("每次只能删除一条数据！");
					return;
				}
				var rowData = checkedRows[0];
				layer.confirm('是否删除所选数据？', { icon: 3, title: '提示' }, function () {
					layer.ajax({
						url: "/dubbo/sys/codemapManager/removeCodemap.json",
						data: { codemapId: rowData.codemapId },
						success: function (result) {
							layer.msg('删除数据成功', { icon: 1 });
							tableElement.reload();
						}
					});
				});
			},
			reloadCodeItem: function () {
				//执行重载
				var params = tableElement.reloadBuild($('#fieldsOfSearch_codeitem'));
				table.reload('grid_codeitem', {
					page: {
						curr: 1 //重新从第 1 页开始
					},
					where: params
				});
			},
			addCodeItem: function () {
				var checkedRows = table.checkStatus('grid_table').data || [];
				if (checkedRows.length != 1) {
					layer.msg("请勾选一条数据字典！");
					return;
				}
				var codemapRecord = checkedRows[0];
				if (codemapRecord.type != '1') {
					layer.msg("非普通数据字典,不允许添加！");
					return;
				}
				layer.open({
					type: 2,
					title: '新增代码值',
					area: ['430px', '360px'],
					shade: 0.1,
					maxmin: true,
					content: '/page/sys.codemap/codeitemAdd.html',
					btn: ['保存', '关闭'], //按钮
					yes: function (index, layero) {
						var body = layer.getChildFrame('body', index);
						body.find('button.lay-submit').click();
					},
					btn2: function (index, layero) {
						layer.close();
					},
					success: function (layero, index) {
						var body = layer.getChildFrame('body', index);
						var form = body.find('form');//'codemap.codemapId':codemapRecord.codemapId,'codemap.caption':codemapRecord.caption
						util.fillFormData(form, { codemap: codemapRecord }, null);
						body.find('#callBack').click(function () {
							layer.msg('新增成功');
							itemtableElement.reload();
						});
					}
				});
			},
			//删除
			delCodeItem: function () {
				var checkedRows = table.checkStatus('grid_codeitem').data || [];
				if (checkedRows.length <= 0) {
					layer.msg("请勾选要编辑数据的复选框！");
					return;
				} else if (checkedRows.length > 1) {
					layer.msg("每次只能删除一条数据！");
					return;
				}
				var rowData = checkedRows[0];
				layer.confirm('是否删除所选数据？', { icon: 3, title: '提示' }, function () {
					layer.ajax({
						url: "/dubbo/sys/codeitemManager/removeCodeitem.json",
						data: { itemId: rowData.itemId },
						success: function (result) {
							layer.msg('删除数据成功', { icon: 1 });
							itemtableElement.reload();
						}
					});
				});
			}
		};

		table.on('checkbox(grid_table)', function (obj) {
			var checkedRows = table.checkStatus('grid_table').data || [];
			if (checkedRows.length == 1) {
				var rowData = checkedRows[0];
				$('#codemap_code').val(rowData.code);
				$('#codemap_codemapId').val(rowData.codemapId);
			} else {
				$('#codemap_code').val('-');
				$('#codemap_codemapId').val('');
			}
			var params = tableElement.reloadBuild($('#fieldsOfSearch_codeitem'));
			itemtableElement.reload({ where: params });
		});

		$('.layui_gridButton .layui-btn').on('click', function () {
			var othis = $(this), method = othis.data('method');
			active[method] ? active[method].call(this, othis) : '';
		});

	});

	/* ]]> */
</script>